@font-face {
    font-family: "main-fonts";
    src: url("../../assets/fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "scd-fonts";
    src: url(../../assets/fonts/PressStart2P-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
